ol.A4

	each datedHeadlines,date in headlines

		li
			h2=date

			ul.headlines
				each headline in datedHeadlines

					li

						a(href=headline.url, title=headline.title)

							if headline.image
								<!-- #{headline.image} -->
								.image(style="background-image: url(" + headline.image + ")")

							.details
								.stats
									span.source=headline.sourceHeb
									span &middot;
									span.date=headline.date
								h3=headline.title
								p=headline.description

