doctype html
html(lang="he")

	head
		title שמאלנים - ויש נקודה.

		style
			include ../public/styles.css

		meta(
		charset="utf-8"
		)

		meta(
		name="viewport"
		content="width=device-width"
		)

	body

		header
			.A4

				h1.logo שמאלנים
				span &nbsp;-&nbsp;
				.tagline ויש נקודה.

		ol.A4

			if categorizedDB.today.length > 0

				li.today

					h2 היום

					ul.headlines
						each item in categorizedDB.today

							li

								if item.image
									a(href=item.url, title=item.title, target="_blank")
										.image(style="background-image: url(#{ item.image })")

								.details
									span.date= item.date
									a(href=item.url, title=item.title, target="_blank")
										h3= item.title

			if categorizedDB.yesterday.length > 0

				li.yesterday

					h2 אתמול

					ul.headlines
						each item in categorizedDB.yesterday

							li

								if item.image
									a(href=item.url, title=item.title, target="_blank")
										.image(style="background-image: url(#{ item.image })")

								.details
									span.date= item.date
									a(href=item.url, title=item.title, target="_blank")
										h3= item.title

			if categorizedDB.thisWeek.length > 0

				li.this-week

					h2 השבוע

					ul.headlines
						each item in categorizedDB.thisWeek

							li

								if item.image
									a(href=item.url, title=item.title, target="_blank")
										.image(style="background-image: url(#{ item.image })")

								.details
									span.date= item.date
									a(href=item.url, title=item.title, target="_blank")
										h3= item.title