doctype html
html(lang="he")

	head
		title שמאלנים - ויש נקודה.

		style
			include ../public/styles.css

		meta(
		charset="utf-8"
		)

		meta(
		name="viewport"
		content="width=device-width"
		)

	body

		header
			.A4

				h1.logo שמאלנים
				span &nbsp;-&nbsp;
				.tagline ויש נקודה.

		ul.A4
			each item in db

				li

					a(href=item.url, title=item.title, target="_blank")

						if item.image
							.image(style="background-image: url(#{ item.image })")

						.details
							span.date= item.date
							h3= item.title