li

	if item.image
		a(href=item.url, title=item.title)
			.image(style="background-image: url(#{ item.image })")

	.details
		span.date= item.date
		a(href=item.url, title=item.title)
			h3= item.title
		p=item.description

