title= fullTitle
meta(name="description" content=description)

// Open Graph
meta(property="og:site_name" content=siteName)
meta(property="og:locale" content="he_IL")
meta(property="og:title" content=fullTitle)
meta(property="og:type" content="website")
meta(property="og:url" content=domain)
meta(property="og:image" content=logoUrl)
meta(property="og:description" content=description)

// Twitter Cards
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content=fullTitle)
meta(name="twitter:description" content=description)
meta(name="twitter:image" content=logoUrl)
meta(name="twitter:creator" content="stavgeffen")

